{
    "plugins": [
        "chai-expect",
        "eslint-comments",
        "filenames",
        "json",
        "mocha",
        "promise"
    ],

    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },

    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },

    "rules": {
        "indent": [2, 4, {"VariableDeclarator": 1}],
        "max-len": "off",
        "max-nested-callbacks": "off",
        "no-useless-escape": "error",
        "padded-blocks": "off",
        "valid-jsdoc": [1, {
            "prefer": {
                "return": "returns"
            },
            "requireReturn": false
        }],

        "arrow-body-style": "error",
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "constructor-super": "error",
        "generator-star-spacing": "error",
        "no-class-assign": "error",
        "no-confusing-arrow": "off",
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-new-symbol": "error",
        "no-restricted-imports": "error",
        "no-this-before-super": "error",
        "no-useless-constructor": "error",
        "no-var": "error",
        "object-shorthand": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-reflect": "off",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "require-yield": "error",
        "template-curly-spacing": "error",
        "yield-star-spacing": "error",

        "chai-expect/missing-assertion": "error",
        "chai-expect/no-inner-compare": "error",
        "chai-expect/terminating-properties": "error",

        "eslint-comments/disable-enable-pair": "error",
        "eslint-comments/no-duplicate-disable": "error",
        "eslint-comments/no-unlimited-disable": "error",
        "eslint-comments/no-unused-disable": "error",
        "eslint-comments/no-unused-enable": "error",
        "eslint-comments/no-use": "error",

        "filenames/match-regex": ["error", "^([a-z][a-z0-9]*)(-[a-z0-9]+)*(\\.[a-z]+)?$", true],
        "filenames/match-exported": "off",
        "filenames/no-index": "off",

        "promise/always-return": "error",
        "promise/no-return-wrap": "error",
        "promise/param-names": "error",
        "promise/catch-or-return": "error",
        "promise/no-native": "off",
        "promise/no-nesting": "warn",
        "promise/no-promise-in-callback": "warn",
        "promise/no-callback-in-promise": "warn",
        "promise/avoid-new": "warn"
    }
}
